{% assign len = product.metafields.title.title.size | minus: 1 %}

<nav class="page-width product-sticky-nav">
    <ul>
        {% for block in section.blocks %}  
            {% case block.type %}
                {% when 'overview' %}
                    <li {% if forloop.first %} class="active" {% else %} class="not-active" {% endif %}><a href="#product-overview">{{block.settings.name}}</a></li>
                {% when 'benefits' %}
                    {% if product.metafields.benefit_content.benefit_conten != blank or product.metafields.benefit_image.benefit_image != blank %}
                        <li {% if forloop.first %} class="active" {% else %} class="not-active" {% endif %}  ><a href="#benefits">{{block.settings.name}}</a></li>          
                    {% endif %}
                {% when 'keyfeatures' %}
                    {% if product.metafields.features-list.feature-list != blank %}
                        <li  {% if forloop.first %} class="active" {% else %} class="not-active" {% endif %}><a href="#keyfeatures">{{block.settings.name}}</a></li>          
                    {% endif %}
                {% when 'specifications' %}
                    {% if product.metafields.specification-title.specification-title != blank or product.metafields.specification-detail.specification-detail != blank %}
                        <li {% if forloop.first %} class="active" {% else %} class="not-active" {% endif %}><a href="#specifications">{{block.settings.name}}</a></li>          
                    {% endif %}
                {% when 'user_manual' %}
                    {% if product.metafields.manual-description.manual-description != blank %}
                        <li {% if forloop.first %} class="active" {% else %} class="not-active" {% endif %}><a href="#userManual">{{block.settings.name}}</a></li>          
                    {% endif %}
                {% when 'product-recommendations' %}
                
                    <li {% if forloop.first %} class="active" {% else %} class="not-active" {% endif %}><a href="#Recommendations-{{ product.id }}">
                        {{block.settings.product_recommendations_heading}}</a></li>
            {% endcase %}
        {% endfor %}
          <li class="list-with-btn"> {% if section.settings.btn_text != blank %}
            <a href="{{section.settings.link}}">{{section.settings.btn_text}}</a>
          {% endif %}</li>
    </ul>
 
  </nav>
  
<nav class="page-width product-sticky-nav">
  <main class="page-width ">
    {% for block in section.blocks %}  
            {% case block.type %}
                {% when 'benefits' %}
                    {% if product.metafields.benefit_content.benefit_conten != blank or product.metafields.benefit_image.benefit_image != blank %}
					<section id="benefits" class="py-[40px] md:py-[60px] lg:py-[80px]">
						<div class="container mx-auto">
							<div class="px-4">
								<h4 class="pb-4 font-bold uppercase">{{block.settings.name}}</h4>
								<div class="benefit-slider max-w-7xl mx-auto">
									{% assign benefits = product.metafields.benefit_content.benefit_conten.size | minus: 1 %}
									{% for i in (0..benefits) %}
										<div>
											<div class="benefit-blocks flex flex-wrap">
												<div class="w-full md:7/12 lg:w-6/12">
													<div class="benefit-content text-center p-5 bg-black text-white h-full flex items-center">
														<div>{{ product.metafields.benefit_content.benefit_conten[i] }}</div>
													</div>
												</div>
												<div class="w-full md:5/12 lg:w-6/12">
													<div class="benefit-image">
														<img class="max-w-full w-full" src="{{ product.metafields.benefit_image.benefit_image[i] }}" alt="{{ product.metafields.benefit_image.benefit_image[i].alt }}"/>
													</div>
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</section>
					{% endif %}
                {% when 'keyfeatures' %}
                    {% if product.metafields.features-list.feature-list != blank %}
					<section id="keyfeatures" class="py-[40px] md:py-[60px] lg:py-[80px]">
						<div class="container mx-auto">
							<div class="px-4">
								<h4 class="pb-4 font-bold uppercase">{{block.settings.name}}</h4>
								<div class="features">
									<div class="feature-content">
										{{product.metafields.features-list.feature-list}}
									</div>
								</div>
							</div>
						</div>
					</section>
				{% endif %}
                {% when 'specifications' %}
                     {% if product.metafields.specification-title.specification-title != blank or product.metafields.specification-detail.specification-detail != blank %}
						<section id="specifications" class="py-[40px] md:py-[60px] lg:py-[80px]">
							<div class="container mx-auto">
								<div class="px-4">
									<h4 class="pb-4 font-bold uppercase">{{block.settings.name}}</h4>
									{% assign specifications = product.metafields.specification-title.specification-title.size | minus: 1 %}
									{% for i in (0..specifications) %}
										<div class="specification-block pt-6 border-b last:border-0 border-black flex flex-wrap"> 
											<div class="w-full md:w-4/12 lg:w-3/12">
												<div class="specification-title">
													<h4>{{product.metafields.specification-title.specification-title[i]}}</h4>
												</div>
											</div>
											<div class="w-full md:w-8/12 lg:w-9/12">
												<div class="specification-keys">
													{{product.metafields.specification-detail.specification-detail[i]}}
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</section>
						{% endif %}
                {% when 'user_manual' %}
                    {% if product.metafields.manual-description.manual-description != blank %}
						<section id="userManual" class="py-[40px] md:py-[60px] lg:py-[80px] bg-[#f2f2f2]">
							<div class="container mx-auto">
								<div class="px-4">
									<h4 class="pb-4 font-bold uppercase">{{block.settings.name}}</h4>
									<div class="user-manual grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-5 gap-y-7">
										{% assign manual = product.metafields.manual-description.manual-description.size | minus: 1 %}
											{% for i in (0..manual) %}
												<a href="{{product.metafields.manual-file.manual-file[i]}}" class="manual-block flex flex-wrap">
													<div class="manual-icon mr-4">
														{% render 'brochure-icon', class:'h-9 w-9' %}
													</div>
													<div class="manual-content">
														{{ product.metafields.manual-description.manual-description[i]  }}
													</div>
												</a>
											{% endfor %}  
									</div>
								</div>
							</div>
						</section>
					{% endif %}
                {% when 'product-recommendations' %}
              

                    {%- liquid
                        assign recommend_products = true
                      
                        if recommendations.products and recommendations.products_count > 0
                          assign related_collection = recommendations
                        endif
                      
                        for tag in product.tags
                          if tag contains '_related'
                            assign include_collection_handle = tag | split: '_' | last
                            assign include_collection = collections[include_collection_handle]
                            if include_collection != empty and include_collection.products_count > 0
                              assign related_collection = include_collection
                              assign recommend_products = false
                              break
                            endif
                          endif
                        endfor
                      
                        assign number_of_products = section.settings.related_count
                      -%}
                      
                      {%- if block.settings.show_product_recommendations -%}
                        <div
                          id="Recommendations-{{ product.id }}"
                          data-section-id="{{ product.id }}"
                          data-section-type="product-recommendations"
                          data-enable="{{ recommend_products }}"
                          data-product-id="{{ product.id }}"
                          data-url="{{ routes.product_recommendations_url }}"
                          data-limit="{{ number_of_products }}">
                          <div
                            data-section-id="{{ product.id }}"
                            data-subsection
                            data-section-type="collection-template"
                            class="index-section">
                            <div class="page-width">
                              <header class="section-header">
                                <h3 class="section-header__title">
                                  {{ block.settings.product_recommendations_heading }}
                                </h3>
                              </header>
                            </div>
                      
                            <div class="page-width page-width--flush-small">
                              <div class="grid-overflow-wrapper">
                                {%- if recommend_products -%}
                                  <div class="product-recommendations-placeholder">
                                    {% comment %}
                                      This content is visually hidden and replaced when recommended products show up
                                    {% endcomment %}
                                    <div class="grid grid--uniform visually-invisible" aria-hidden="true">
                                      {%- render 'product-grid-item', product: product, per_row: number_of_products -%}
                                    </div>
                                  </div>
                                {%- endif -%}
                                {%- if related_collection.products_count > 1 -%}
                                  {%- liquid
                                    case number_of_products
                                      when 1
                                        assign grid_item_width = ''
                                      when 2
                                        assign grid_item_width = 'medium-up--one-half'
                                      when 3
                                        assign grid_item_width = 'small--one-half medium-up--one-third'
                                      when 4
                                        assign grid_item_width = 'small--one-half medium-up--one-quarter'
                                      when 5
                                        assign grid_item_width = 'small--one-half medium-up--one-fifth'
                                      when 6
                                        assign grid_item_width = 'small--one-half medium-up--one-sixth'
                                    endcase
                                  -%}
                      
                                  <div class="product-recommendations">
                                    <div class="product-single__related grid grid--uniform" data-aos="overflow__animation">
                                      {%- for product in related_collection.products limit: number_of_products -%}
                                        {%- render 'product-grid-item', product: product, grid_item_width: grid_item_width, per_row: number_of_products -%}
                                      {%- endfor -%}
                                    </div>
                                  </div>
                                {%- endif -%}
                              </div>
                            </div>
                          </div>
                        </div>
                      {%- endif -%}

            {% endcase %}
        {% endfor %}
  </main>
<style>
  li.list-with-btn a {
    background: #2171bd;
    max-width: 150px;
    padding: 10px 15px;
    border-radius: 4px;
}
  .product-sticky-nav ul {
    align-items: center;
}
  li.list-with-btn {
    display: flex;
    justify-content: flex-end;
}
  .product-sticky-nav ul li a::before {
    display: none;
}
</style>

 {% schema %}
  {
    "name": "Metafield content",
    "settings": [
     {
          "id": "btn_text",
          "type": "text",
          "label":"Button Text"
        },
		{
          "id": "link",
          "type": "url",
          "label":"Button Link"
        }
      
    ],
    "blocks": [
    {
      "type": "overview",
      "name": "Overview",
      "limit": 1,
      "settings": [
        {
          "id": "name",
          "type": "text",
          "label":"Title",
       	  "default": "Overview"
        }
		
      ]
    },
    {
        "type": "benefits",
        "name": "Benefits",
        "limit": 1,
        "settings": [
          {
            "id": "name",
            "type": "text",
            "label":"Title",
            "default": "Benefits"
          }
        ]
    },
    {
        "type": "keyfeatures",
        "name": "Key features",
        "limit": 1,
        "settings": [
          {
            "id": "name",
            "type": "text",
            "label":"Title",
            "default": "Key features"
          }
        ]
    },
    {
        "type": "specifications",
        "name": "Specifications",
        "limit": 1,
        "settings": [
          {
            "id": "name",
            "type": "text",
            "label":"Title",
            "default": "Specifications"
          }
        ]
    },
    {
        "type": "user_manual",
        "name": "User manual",
        "limit": 1,
        "settings": [
          {
            "id": "name",
            "type": "text",
            "label":"Title",
            "default": "User manual & Downloads"
          }
        ]
    },
    {
        "type":"product-recommendations",
        "name": "Product recommendations",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_product_recommendations",
            "label": "t:sections.product-recommendations.settings.show_product_recommendations.label",
            "info": "t:sections.product-recommendations.settings.show_product_recommendations.info",
            "default": true
          },
          {
            "type": "text",
            "id": "product_recommendations_heading",
            "label": "t:sections.product-recommendations.settings.product_recommendations_heading.label",
            "default": "You may also like"
          },
          {
            "type": "range",
            "id": "related_count",
            "label": "t:sections.product-recommendations.settings.related_count.label",
            "default": 5,
            "min": 2,
            "max": 6,
            "step": 1
          }
        ]
    }
    ],
    "presets": [
      {
        "name": "Metafield content"
      }
    ]
  }
  {% endschema %}
  
  {% stylesheet %}
  /* Benefit CSS */

  /* the slides */
  .benefit-slider .slick-slide {
    margin: 0 20px;
  }
  .benefit-arrow {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content:center;
    align-items:center;
    width: 40px;
    height: 40px;
    padding: 0;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translateY(-50%);
    cursor: pointer;
    color: transparent;
    border-radius: 50%;
    outline: none;
    z-index: 999;
    color: #1c1d1d;
    background-color: #ffffff;
    box-shadow: 0 5px 5px rgb(0 0 0 / 10%);
}
.benefit-arrow:hover {
    background: #fff;
}
.benefit-arrow:before{
    display:none;
}
.benefit-arrow .button-icon {
    height: 16px;
    width: 16px;
}
.benefit-arrow.next-arrow {
    right: 10px;
}
.benefit-arrow.prev-arrow {
    left: 10px;
}


/* the parent */
.benefit-slider .slick-list {
    margin: 0 -20px;
 }


.product-sticky-nav{
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  {% comment %} border-bottom: 1px solid black; {% endcomment %}
  position: sticky;
  top: 0;
  z-index: 9999;
}
.product-sticky-nav ul {
    padding: 0 15px;
    margin: 0  auto;
    list-style: none;
    display: flex;
    max-width: 1560px;
}
.product-sticky-nav ul li{
      text-align: center;
      position: relative;
      overflow: hidden;
      flex: 1 1 auto;
      max-width:250px;
      padding:15px 10px;
      color:black !important;
}

.product-sticky-nav ul li a{
      color:black !important;
}

@media(max-width:767px){
  .product-sticky-nav ul {
        overflow-x: auto;
    }
    .product-sticky-nav ul li {
      width: auto;
      flex-shrink: 0;
      padding-left: 20px;
      padding-right: 20px;
}
}
.product-sticky-nav ul li a{
        color: #fff;
        text-decoration: none;
        display: block;
}
.product-sticky-nav ul li a:hover {
    opacity: 0.9;
    color: #fff;
}
.product-sticky-nav ul li a:before{
        content: "";
        width: 100%;
        height: 3px;
        bottom: 0;
        right: 100%;
        background: #fff;
        position: absolute;
        transition: 0.5s;
}
.product-sticky-nav ul li a:hover:before,
.product-sticky-nav ul li.active a:before{
        right: 0;
}

.active{
border-top: 1px solid black; 
border-left: 1px solid black; 
border-right: 1px solid black; 
}

.not-active{
  border-bottom: 1px solid black; }
    
  {% endstylesheet %}
  
  {% javascript %}
  $(function() {
    var $item = $('.product-sticky-nav ul li');
    
    $item.on('click', 'a', function(event) {
      var $section = $($(this).attr('href'));
      var sectionTop = $section.offset().top;   
  
      $('html, body').stop().animate({scrollTop: sectionTop}, 500);
      
      event.preventDefault();
    });
    
    $(window).scroll(function() {
      var scrollTop = $(this).scrollTop();
      
      $item.each(function() {
        var $section = $($(this).find('a').attr('href'));
        var sectionTop = $section.offset().top - 60;
        var sectionHeight = $section.height();
        
        if (sectionTop <= scrollTop && (sectionTop + sectionHeight) > scrollTop) {
          $(this).addClass('active');
          $(this).siblings().removeClass('active');
        }
      });
    });

// Slick slider

$('.benefit-slider').slick({
    dots: true,
    infinite: true,
    speed: 300,
    slidesToShow: 1,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 2000,
    arrows: true,
    prevArrow: '<button class="slick-prev slick-arrow prev-arrow benefit-arrow"> <svg class="button-icon" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path></svg> </button>',
    nextArrow: '<button class="slick-next slick-arrow next-arrow benefit-arrow"> <svg class="button-icon" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg> </button>'
  });

  });
  {% endjavascript %}