{% assign len = product.metafields.title.title.size | minus: 1 %}

<nav class="product-sticky-nav">
  <div></div>
    <ul>
        {% for block in section.blocks %}  
            {% case block.type %}
                {% when 'overview' %}
                    <li {% if forloop.first %}class="active"{% endif %}><a href="#product-overview">{{block.settings.name}}</a></li>
                {% when 'benefits' %}
                   
                        <li {% if forloop.first %}class="active"{% endif %}><a href="#benefits">{{block.settings.name}}</a></li>          
                    

                {% comment %} {% when 'keyfeatures' %}
                    {% if product.metafields.features-list.feature-list != blank %}
                        <li {% if forloop.first %}class="active"{% endif %}><a href="#keyfeatures">{{block.settings.name}}</a></li>          
                    {% endif %} {% endcomment %}

                {% when 'keyfeatures' %}
                    {% if product.metafields.custom.features != blank %}
                        <li {% if forloop.first %}class="active"{% endif %}><a href="#keyfeatures">{{block.settings.name}}</a></li>          
                    {% endif %}
                    
                {% when 'specifications' %}
                    {% if product.metafields.specification-title.specification-title != blank or product.metafields.specification-detail.specification-detail != blank %}
                        <li {% if forloop.first %}class="active"{% endif %}><a href="#specifications">{{block.settings.name}}</a></li>          
                    {% endif %}
                {% when 'user_manual' %}
                     {% if product.metafields.custom.specification_sheet != blank or product.metafields.custom.user_manual != blank %}
                        <li {% if forloop.first %}class="active"{% endif %}><a href="#userManual">{{block.settings.name}}</a></li>          
                    {% endif %}
                {% when 'product-recommendations' %}
                
                    <li {% if forloop.first %}class="active"{% endif %}><a href="#Recommendations-{{ product.id }}">
                        {{block.settings.product_recommendations_heading}}</a></li>
            {% endcase %}
        {% endfor %}
          <li class="list-with-btn"> {% if section.settings.btn_text != blank %}
            <a href="{{section.settings.link}}">{{section.settings.btn_text}}</a>
          {% endif %}</li>
    </ul>
 
  </nav>
  
  <main>
    {% for block in section.blocks %}  
            {% case block.type %}
                {% when 'benefits' %}
                   
					<section id="benefits" class="py-[40px] md:py-[60px] lg:py-[80px]" style="padding-bottom:0;">
						<div class="container mx-auto">
							<div class="px-4">
								<h4 class="border-b border-wlpool pb-4 uppercase">{{block.settings.name}}</h4>
								<div class="benefit-slider max-w-7xl mx-auto">
									
										<div>
											<div class="benefit-blocks flex flex-wrap">
												<div class="w-full">
													<div class="benefit-content item-center p-5 text-black h-full flex" style="text-align:justify;">
														<div>{{ product.description }}</div>
													</div>
												</div>
												
											</div>
										</div>
								</div>
							</div>
						</div>
					</section>
					
                 {% when 'keyfeatures' %}
                  {% if product.metafields.features-title.features-title != blank %}
                    <section id="keyfeatures" class="py-[40px] md:py-[60px] lg:py-[80px] bg-[#ffffff]">
                      <div class="container mx-auto">
                        <div class="px-4">
                          <h4 class="border-b border-wlpool pb-4 uppercase">{{block.settings.name}}</h4>
                          {% assign features = product.metafields.features-title.features-title.size | minus: 1 %}
                          <div class="features-container flex">
                          {% for i in (0..features) %}
                            <div class="keyfeatures">
                            <img class="wlpool-logo-item feature-icon" loading="lazy" src="{{product.metafields.features-image.features-image[i]}}"> 
                            <div class="keyfeatures-text">
                                  <strong>{{product.metafields.features-title.features-title[i] }}</strong>
                                  <p>{{product.metafields.features-description.features-description[i]}}</p>
                            </div>
                          </div>
                              
                          {% endfor %}
                        </div>
                      </div>
                    </section>
                    {% endif %}


        {% comment %} from  inbuilt metafield - from HTML {% endcomment %}

                {% comment %} {% when 'keyfeatures' %}
                    {% if product.metafields.custom.features != blank %}
					<section id="keyfeatures" class="py-[40px] md:py-[60px] lg:py-[80px] bg-[#f2f2f2]">
						<div class="container mx-auto">
							<div class="px-4">
								<h4 class="border-b border-wlpool pb-4 font-bold uppercase">{{block.settings.name}}</h4>
								<div class="features">
									<div class="feature-content">
										{{product.metafields.custom.features}}
									</div>
								</div>
							</div>
						</div>
					</section>
				{% endif %} {% endcomment %}


                {% when 'specifications' %}
                     {% if product.metafields.specification-title.specification-detail != blank %}
						<section id="specifications" class="py-[40px] md:py-[60px] lg:py-[80px]">
							<div class="container mx-auto">
								<div class="px-4">
									<h4 class="border-b border-wlpool pb-4 uppercase">{{block.settings.name}}</h4>
									{% assign specifications = product.metafields.specification-title.specification-detail.size | minus: 1 %}
									{% for i in (0..specifications) %}
										<div class="specification-block pt-6 border-b last:border-0 border-wlpool flex flex-wrap" style="justify-content:center; align-items:center;"> 
											
											<div class="w-full md:w-8/12 lg:w-9/12">
												<div class="specification-keys">
													{{product.metafields.specification-title.specification-detail[i]}}
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</section>
						{% endif %}

                {% when 'user_manual' %}
                    {% comment %} {% if product.metafields.manual-description.manual-description != blank %}
						<section id="userManual" class="py-[40px] md:py-[60px] lg:py-[80px] bg-[#f2f2f2]">
							<div class="container mx-auto">
								<div class="px-4">
									<h4 class="border-b border-wlpool pb-4 font-bold uppercase">{{block.settings.name}}</h4>
									<div class="user-manual grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-5 gap-y-7">
										{% assign manual = product.metafields.manual-description.manual-description.size | minus: 1 %}
											{% for i in (0..manual) %}
												<a href="{{product.metafields.manual-file.manual-file[i]}}" class="manual-block flex flex-wrap">
													<div class="manual-icon mr-4">
														{% render 'brochure-icon', class:'h-9 w-9' %}
													</div>
													<div class="manual-content">
														{{ product.metafields.manual-description.manual-description[i]  }}
													</div>
												</a>
											{% endfor %}  
									</div>
								</div>
							</div>
						</section>
					{% endif %} {% endcomment %}

          {% if product.metafields.custom.specification_sheet != blank or product.metafields.custom.user_manual != blank %}
            <section id="userManual" class="py-[40px] md:py-[60px] lg:py-[80px]">
              <div class="container mx-auto">
                <div class="px-4">
									<h4 class="border-b border-wlpool pb-4  uppercase">{{block.settings.name}}</h4>
									<div class="user-manual grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-5 gap-y-7">
                  
                    <div class = "wlpool-manuals">
                      {% if product.metafields.custom.specification_sheet != blank %}
                        <a href="{{product.metafields.custom.specification_sheet | file_url}}" target="_blank" class="flex flex-wrap sf__btn sf__btn-secondary sf__btn-wpool-primary" style="padding:15px 35px; font-weight:bold">
                         DOWNLOAD SPECIFICATION SHEET
                        </a>
                      {% endif %}

                      {% if product.metafields.custom.user_manual != blank %}
                        <a href="{{ product.metafields.custom.user_manual | file_url}}" target="_blank" class="flex flex-wrap sf__btn sf__btn-secondary sf__btn-wpool-primary" style="padding:15px 35px; font-weight:bold">
                         DOWNLOAD USER MANUAL
                        </a>
                      {% endif %}


                      </div>
                      
                  </div>
                </div>
              </div>
            </section>
          {% endif %}
          
                
            {% endcase %}
        {% endfor %}
  </main>
<style>
  li.list-with-btn a {
    background: #2171bd;
    max-width: 150px;
    padding: 10px 15px;
    border-radius: 4px;
}
  .product-sticky-nav ul {
    align-items: center;
}
  li.list-with-btn {
    display: flex;
    justify-content: flex-end;
}
  .product-sticky-nav ul li a::before {
    display: none;
}

.border-wlpool {
{% comment %} color: #fdc100; {% endcomment %}
{% comment %} border-bottom: 1px solid #fdc100; {% endcomment %}
}

.features p strong {
display:none;
}

.user-manual .manual-block:hover{
color:  #fdc100;
{% comment %} opacity: 0.7; {% endcomment %}
}

.features-container{
  flex-wrap:wrap;
  
}

.keyfeatures{
margin: 2rem 2rem 2rem 0;
display:flex;
width:47%;

}

.keyfeatures-text{
  margin-left:30px;
  text-align:justify;
}

.feature-icon{
  width:80px;
  max-height:80px;
}

</style>

 {% schema %}
  {
    "name": "Metafield content",
    "settings": [
     {
          "id": "btn_text",
          "type": "text",
          "label":"Button Text"
        },
		{
          "id": "link",
          "type": "url",
          "label":"Button Link"
        }
      
    ],
    "blocks": [
    {
      "type": "overview",
      "name": "Overview",
      "limit": 1,
      "settings": [
        {
          "id": "name",
          "type": "text",
          "label":"Title",
       	  "default": "Overview"
        }
		
      ]
    },
    {
        "type": "benefits",
        "name": "Benefits",
        "limit": 1,
        "settings": [
          {
            "id": "name",
            "type": "text",
            "label":"Title",
            "default": "Benefits"
          }
        ]
    },
    {
        "type": "keyfeatures",
        "name": "Key features",
        "limit": 1,
        "settings": [
          {
            "id": "name",
            "type": "text",
            "label":"Title",
            "default": "Key features"
          }
        ]
    },
    {
        "type": "specifications",
        "name": "Specifications",
        "limit": 1,
        "settings": [
          {
            "id": "name",
            "type": "text",
            "label":"Title",
            "default": "Specifications"
          }
        ]
    },
    {
        "type": "user_manual",
        "name": "User manual",
        "limit": 1,
        "settings": [
          {
            "id": "name",
            "type": "text",
            "label":"Title",
            "default": "User manual & Downloads"
          }
        ]
    }
    ],
    "presets": [
      {
        "name": "Metafield content"
      }
    ]
  }
  {% endschema %}
  
  {% stylesheet %}
  /* Benefit CSS */

  /* the slides */
  .benefit-slider .slick-slide {
    margin: 0 20px;
  }
  .benefit-arrow {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content:center;
    align-items:center;
    width: 40px;
    height: 40px;
    padding: 0;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translateY(-50%);
    cursor: pointer;
    color: transparent;
    border-radius: 50%;
    outline: none;
    z-index: 999;
    color: #1c1d1d;
    background-color: #ffffff;
    box-shadow: 0 5px 5px rgb(0 0 0 / 10%);
}
.benefit-arrow:hover {
    background: #fff;
}
.benefit-arrow:before{
    display:none;
}
.benefit-arrow .button-icon {
    height: 16px;
    width: 16px;
}
.benefit-arrow.next-arrow {
    right: 10px;
}
.benefit-arrow.prev-arrow {
    left: 10px;
}


/* the parent */
.benefit-slider .slick-list {
    margin: 0 -20px;
 }


.product-sticky-nav{
  width: 100%;
  top: 0;
  left: 0;
  background: #f9f9f9;
  position: sticky;
  top: 0;
  z-index: 9999;
  padding: 5px;
}
.product-sticky-nav ul {
    padding: 0 15px;
    margin: 0  auto;
    list-style: none;
    display: flex;
    max-width: 1560px;
}
.product-sticky-nav ul li{
  font-size:1rem;
      text-align: center;
      position: relative;
      overflow: hidden;
      flex: 1 1 auto;
      max-width:250px;
      padding:15px 10px;
}
@media(max-width:767px){
  .product-sticky-nav ul {
        overflow-x: auto;
    }
    .product-sticky-nav ul li {
      width: auto;
      flex-shrink: 0;
      padding-left: 20px;
      padding-right: 20px;
}
}
.product-sticky-nav ul li a{
        color: #black;
        text-decoration: none;
        display: block;
}
.product-sticky-nav ul li a:hover {
    opacity: 0.6;
}
.product-sticky-nav ul li a:before{
        content: "";
        width: 100%;
        height: 3px;
        bottom: 0;
        right: 100%;
        background: #fff;
        position: absolute;
        transition: 0.5s;
}
.product-sticky-nav ul li a:hover:before,
.product-sticky-nav ul li.active a:before{
        right: 0;
}
    
  {% endstylesheet %}
  
  {% javascript %}
  $(function() {
    var $item = $('.product-sticky-nav ul li');
    
    $item.on('click', 'a', function(event) {
      var $section = $($(this).attr('href'));
      var sectionTop = $section.offset().top;   
  
      $('html, body').stop().animate({scrollTop: sectionTop}, 500);
      
      event.preventDefault();
    });
    
    $(window).scroll(function() {
      var scrollTop = $(this).scrollTop();
      
      $item.each(function() {
        var $section = $($(this).find('a').attr('href'));
        var sectionTop = $section.offset().top - 60;
        var sectionHeight = $section.height();
        
        if (sectionTop <= scrollTop && (sectionTop + sectionHeight) > scrollTop) {
          $(this).addClass('active');
          $(this).siblings().removeClass('active');
        }
      });
    });

   

// Slick slider

// $('.benefit-slider').slick({
//     dots: true,
//     infinite: true,
//     speed: 300,
//     slidesToShow: 1,
//     slidesToScroll: 1,
//     autoplay: true,
//     autoplaySpeed: 2000,
//     arrows: true,
//     prevArrow: '<button class="slick-prev slick-arrow prev-arrow benefit-arrow"> <svg class="button-icon" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path></svg> </button>',
//     nextArrow: '<button class="slick-next slick-arrow next-arrow benefit-arrow"> <svg class="button-icon" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg> </button>'
//   });

//   });
  {% endjavascript %}